/* page setup styles */
html {
    height: 100vh;
}

body {
    background-color: aqua;
    height: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
    overflow: scroll;
}

:root {
    --bg-main: #ede6ec;
    --bg-accent: #FFD4FB;
    --main-accent:#70ee7c;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    overflow: scroll;
    padding: 10px;
}

.project-container {
    flex-grow: 1;
    background-color: #70ee7c;
    max-width: 500px;
    overflow: scroll;
    transition: width 1s;
}

.todo-container {
    background-color: aliceblue;
    flex-grow: 1;
}

.entry {
    background-color: #FFD4FB;
    width: 80%;
}

.project-container-mobile {

}







@media screen and (max-width: 500px) {
    .project-container {
        display: none;    
    }
}