.todo-item {
    border: 1px solid black;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.low-prio {
    border: 2px solid green;
}

.med-prio {
    border: 2px solid yellow;
}

.high-prio {
    border: 2px solid orange;
}

.urge-prio {
    border: 2px solid red;
}